#hero {
  height: 1000px;
  background-image: url(/images/hsrwallpaper.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
#hero div {
  width: 800px;
  height: 400px;
  border-radius: 30px;
  background-color: rgba(20, 20, 20, 0.8);
  text-align: center;
  padding: 50px 0;
  box-shadow: 2px 2px 4px black;
  position: relative;
  top: 300px;
  margin: 20px auto;
}
#hero h1 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: aliceblue;
}

#hero a {
  background-color: rgb(232, 234, 220);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding: 10px;
  display: block;
  margin: 60px 80px;
  border-radius: 10px;
  color: black;
}
#hero a:hover {
  background-color: rgb(249, 249, 43);
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 4px black;
}
main {
  background: linear-gradient(30deg, rgb(29, 29, 29), rgb(71, 71, 71));
}
section h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: rgb(245, 243, 243);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
#showchar {
  display: flex;
  justify-content: center;
}
.showcase {
  padding: 50px;
}
.showcase img {
  height: 400px;
  border-radius: 80px;
  background-color: rgb(66, 66, 67);
}
.showcase p {
  color: aliceblue;
  font-family: "Raleway";
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 48rem) {
  #showchar {
    flex-direction: column;
  }
  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }
  .showcase img {
    width: fit-content;
  }
  .showcase p {
    margin: 10px auto;
  }
}
